/***
 login css
***/
body {
    background-image: url("../images/bg-saml.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
}

.container {
    position: absolute;
    max-width: 450px;
    left: 50%;
    top: 30%;
    color:white;
    margin-left:-180px;
}

.signin_div {
     position: absolute;
     background-color:slategray;
     width: 360px;
     height: 300px;
     z-index: 3;
}
.shade_div {
    position: absolute;
    background-color: #808080;
    filter: alplha(Opactiy=30);
    -moz-opacity: 0.5;
    opacity: 0.5;
    left: 5px;
    top: -10px;
    width: 380px;
    height: 320px;
    z-index: 2;
}

.form-signin {
    max-width: 350px;
    padding: 30px;
    margin: 0px auto;
}

.input-group{
    margin-bottom: 10px;
}

.input-group span{
    top: 0px;
}

